<nav th:fragment="menuSuperior" class="navbar navbar-expand-lg navbar-light"  style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <a class="btn btn-primary" href="#">Hola <span sec:authentication="name"></span></a>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#" th:href="@{~/plan}">Plan</a>
      <a class="nav-item nav-link" href="#" th:href="@{~/enmarca}">Enmarca</a>
      <a class="nav-item nav-link" href="#" th:href="@{~/logout}">Logout</a>
      <a class="nav-item nav-link" href="#" sec:authorize="hasAuthority('ADMIN')">Anda! un ADMIN!!</a>
      <a class="nav-item nav-link" href="#" sec:authorize="hasAuthority('USER')">usuario cutre</a>
    </div>
  </div>
</nav>